body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

#container {
  width: 70%;
  margin: 10px auto;
  background: #ffffff;
  overflow: auto;
}

p {
  margin: 10px 0;
  line-height: 1.5em;
}

h1 {
  font-size: 39px;
  font-weight: bold;
  line-height: 1.2em;
  margin: 20px 0 10px 0;
}

h3 {
  font-size: 22px;
  margin: 10px 0;
}

h4 {
  font-size: 19px;
  margin: 10px 0;
}

strong {
  font-weight: bold;
}

.clearfix {
  clear: both;
}

.contentHeader {
  border-bottom: #ddd solid 1px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.contentFooter {
  border-top: #ddd solid 1px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

header#mainHeader {
  border-bottom: 4px solid #5cadff;
}

.logo {
  margin: 0 auto 10px;
  display: block;
}

#mainText {
  text-align: center;
  color: #333333;
  padding: 10px;
}

.sub1 {
  float: left;
  width: 48%;
}

.sub2 {
  float: right;
  width: 48%;
}

.points li {
  margin-bottom: 30px;
}

.points img {
  float: left;
  margin-right: 9px;
}

.points h4 {
  padding-top: 10px;
}

#contactForm {
  padding: 10px 15px 15px 15px;
  border: 4px solid #5cadff;
  border-radius: 20px;
  overflow: auto;
  background: #f4f4f4;
}

#contactForm div {
  margin-bottom: 20px;
}

#contactForm label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

#contactForm input[type="text"], 
#contactForm input[type="email"], 
#contactForm input[type="tel"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 25px;
  width: 65%;
}

#contactForm input[type="submit"] {
  padding: 12px 17px;
  color: #ffffff;
  background-color: hsl(27, 95%, 55%);
  border-radius: 20px;
  float: right;
  display: block;
}

#contactForm input[type="submit"]:hover {
  background-color: hsl(27, 95%, 40%);;
  cursor: pointer;
}

#contactForm .contentFooter p {
  font-style: italic;
  text-align: center;
  color: #666666;
  font-size: 80%;
} 

#testimonial {
  margin: 40px 0;
  font-style: italic;
  color: #666666;
}

#testimonial img {
  float: left;
  margin-right: 20px;
}

footer#mainFooter {
  text-align: center;
  border-top: 1px solid #ccc;
  color: #aaaaaa;
}

@media(max-width: 960px) {
  #container {
    width: 80%;
  }
  h1 {
    font-size: 33px;
  }
  .sub1, .sub2 {
    float: none;
    width: 100%;
  }
  .points li {
    background: #eeeeee;
    padding: 8px;
    border-radius: 10px;
  }
  .points img {
    margin-top: 8px;
  }
  #testimonial img {
    float: none;
    margin: 0 auto 20px;
    display: block;
  }
}
@media (max-width: 568px) {
  h1 {
    font-size: 20px;
  }
}